@keyframes float {
    0% {
      transform: translate(0, 0) rotate(0deg);
    }
    25% {
      transform: translate(5px, 5px) rotate(2deg);
    }
    50% {
      transform: translate(0, 10px) rotate(0deg);
    }
    75% {
      transform: translate(-5px, 5px) rotate(-2deg);
    }
    100% {
      transform: translate(0, 0) rotate(0deg);
    }
  }
  
  .animate-float {
    animation: float 10s ease-in-out infinite;
  }
  
  