:root {
  --total-duration: 10s;
  --total-items: 7;
}

@keyframes scrollLeft {
  to {
    left: -5rem;
  }
}

.wrapper {
  position: relative;
  overflow: hidden;
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1) 20%,
    rgba(0, 0, 0, 1) 80%,
    rgba(0, 0, 0, 0)
  );
}

.item {
  position: absolute;
  left: max(calc(5rem * var(--total-items)), 100%);
  animation-name: scrollLeft;
  animation-duration: var(--total-duration);
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
/* Calculate animation delay dynamically */
.item:nth-child(1) {
  animation-delay: calc(
    var(--total-duration) / var(--total-items) * (var(--total-items) - 1) * -1
  );
}

.item:nth-child(2) {
  animation-delay: calc(
    var(--total-duration) / var(--total-items) * (var(--total-items) - 2) * -1
  );
}

.item:nth-child(3) {
  animation-delay: calc(
    var(--total-duration) / var(--total-items) * (var(--total-items) - 3) * -1
  );
}

.item:nth-child(4) {
  animation-delay: calc(
    var(--total-duration) / var(--total-items) * (var(--total-items) - 4) * -1
  );
}

.item:nth-child(5) {
  animation-delay: calc(
    var(--total-duration) / var(--total-items) * (var(--total-items) - 5) * -1
  );
}

.item:nth-child(6) {
  animation-delay: calc(
    var(--total-duration) / var(--total-items) * (var(--total-items) - 6) * -1
  );
}

.item:nth-child(7) {
  animation-delay: calc(
    var(--total-duration) / var(--total-items) * (var(--total-items) - 7) * -1
  );
}
.item:nth-child(8) {
  animation-delay: calc(
    var(--total-duration) / var(--total-items) * (var(--total-items) - 8) * -1
  );
}
