@tailwind base;
@tailwind components;
@tailwind utilities;

/*
----------------------------------------

    Custom ScrollBar -> Nusab19
    
    https://nusab19.pages.dev/

----------------------------------------

*/

/* width */
::-webkit-scrollbar {
  width: 13px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #111827;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: hsl(233, 27%, 23%);
  border-radius: 7px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: hsl(233, 27%, 30%);
}

/* For smooth scrolling behavior */
html {
  scroll-behavior: smooth;
}

.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
 }