.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 1.7rem;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #efefef;
}

.nav > .nav-links > a:hover {
  /* background-color: rgba(0, 0, 0, 0.3); */
}

.nav > #nav-check {
  display: none;
}
.selected span {
  display: block;
}
@media only screen and (max-width: 600px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 7px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,
  .nav #nav-check:checked ~ .nav-btn > label {
    background-color: #3d474d;
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    font-size: 1.3rem;
    background-color: #262c31;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 65px;
    left: 0px;
    z-index: 1;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
    margin-left: 10px;
    margin-top: 10px;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: 12.5rem;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 13;
  }
  .nav > #nav-check:checked ~ .nav-links::-webkit-scrollbar {
    width: 0px;
    height: 0px;
  }

  .nav > #nav-check:checked ~ .nav-btn > label {
    /* background-color: hsl(203, 12%, 23%); */
  }
}
