# Builds the project

name: Build

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v3
        with:
          node-version: 16
      
      - name: Install Packages
        run: npm i

      - name: Build Contest Hive
        run: npm run build
